@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
  margin:0px;  
}
body{
    background-color: black;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Evogria';
    src: url('../webfonts/Evogria.otf');
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em; 
    margin-left: 0.5em;
    color:white;
}

p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin:1em;
    color:white;
}
input{
    margin-left: 1.5em;
}

aside{
    background-color: rgb(216, 132, 35);
    color:black;
}
label{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin:1em;
    color:white;
}
#lista{
    color:white;
}

#footer{
    background-color: grey;
}
nav {
    margin-top: 40px;
    padding: 24px;
    text-align: right;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
#navegador{
    background: #a30303;
    padding-bottom: 1.9em;
}

.link-3 {
    align-items: center;
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }
  .link-3:hover {
    background-color: black;
    color: white;
    padding: 20px 20px;
  }
.logo{
    position:relative;
    left: -60em;
}
.link-footer {
    align-items: center;
    transition: 0.4s;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }