@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@font-face { 
    font-family: 'Evogria'; 
    src: local('Evogria'), 
        url("assets/webfonts/evogria-webfont.woff2") format('woff2'), 
        url("assets/webfonts/evogria-webfont.woff") format('woff'), 
        url("assets/webfonts/Evogria.otf") format('truetype');
}
:root{
    --colorPC: #a30303;
}
/*Etiquetas*/
*{
  margin:0px; 
  padding: 0px; 
}
body{
    box-sizing: border-box;
    background-color:black ;
    overflow-x:hidden;
}
.bodyContacto{
    background-image: url("ass");
    background-image: url("../images/fondoContacto.jpg");
}

h1,h2,h3,h4,h5,h6{ 
    font-family:'Evogria';
    color:white;
    text-align: center;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
.tituloForm{
    display: inline-flex;
    background-color: var(--colorPC);
    margin-top: 1em;
    position: relative;
    top: 10%;
    left: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transform: translate(-50%, -50%);
    margin-bottom: 0.1em;
    border-radius: 20px;
}
cite,em,p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin:1em;
    color:white;
    line-height: 1.8em;
}
article{
    padding-top: 2em;
    padding-bottom: 2em;
}
input{
    margin-left: 1.5em;
}
/*Aside*/
aside{
    background-color: rgb(216, 132, 35);
    color:black;
    float: left;
    margin: 1.5em;
    width: 22%;
    border-radius:5px;
}
aside> a:visited{
    color: green;
}

td,th{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}
/*Formulario */
form{
    border: var(--colorPC) 5px solid;
    background-color: grey;
    padding: 60px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 3em;
}
form> textarea{
    resize:none;
}
form button {
	display: block;
	background-color: var(--colorPC);
	padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
	border: 0;
	font-size: 1em; 
	color: 	white;
  font-family: "Evogria";
}
label{
    font-family: "Evogria";
    font-size: 1.5em;
    margin:0.7em;
    color:white;
    margin-bottom: 1em;
    display: block;
}
input{
    margin-bottom: 1em;
}
.bloqueCheck{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
    vertical-align: middle;
}


.chechText{
    font-size: 1.2em;
    display: inline;
}
nav {
    padding: 7px;
    text-align: right;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }

input#color{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
  }
table{
    border-collapse: collapse;
    width: 100%;
    caption-side: bottom;
    position: relative;
    font-family:'Evogria';
    text-align: center;
    border: 2px solid black;
}
table>caption{
    color:white;    
}

tr:nth-child(odd){
    background-color:rgb(216, 132, 35) ;
}

tr:nth-child(even){
    background-color:gray ;
}
tr:first-child{
    background-color: var(--colorPC);
    
}
td,th{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

/* Clases */
.lista{
    color:white;
    list-style:none;
    padding-left: -3em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
.listaA{
    color:white;
    list-style:none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
.linkCompra{
    color:rgb(216, 132, 35)
}
.H2Aside{
    text-align: center;
    font-family:'Evogria';
    src: url('../webfonts/Evogria.otf');
    font-size: 2.5em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em; 
    margin-left: 0.5em;
    color:white; 
}

.navegador{
    height: 100%;
    background: var(--colorPC);
    position: top;
    width: 100%;
}
.menu{
    height: 20px;
}

.link-3 {
    font-family: 'Oswald', sans-serif;
    align-items: center;
    transition: 0.4s;
    position:relative;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }
  .link-3:hover {
    background-color: rgb(216, 132, 35);
    color: white;
    padding-top: 0.42%;
    padding-bottom: 0.42%;
  }
.logo{
    position:absolute;
    left:0%;
    top:0.15%
}
.footerNav{
    height: 100%;
    background: grey;
    top: 0px;
    width: 100%;
    right: 0%;
    display: inline-flex;
}
.link-footer {
    font-family: 'Oswald', sans-serif;
    align-items:center;
    transition: 0.4s;
    position:relative;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 0 12px;
    margin: 0 10px;
  }
  
  .link-footer:active{
      color:rgb(216, 132, 35) ;
    }
    .imagen-footer{
        align-items: center;
        text-decoration: none;
        padding: 0 2px;
        margin: 0 4px;
        display:inline-block;
        top: 0.22em;
        left: 100%;
    }
    
.indexH2{
    text-align: center;
}
.divPadreIndex{
    text-align: center;
}
.cajaRoja{
  
    padding: 10px;
    margin: 10px;
    align-items: center;
  /* IMPORTANTE */
  display: inline-block;
  box-shadow: 10px 10px 124px 36px rgba(163,3,3,0.95);
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--colorPC);
    border-radius: 20px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.articulos{
    padding: 5em;
    margin: 5em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    align-items: center;
    text-align: center;
  /* IMPORTANTE */
    display: inline-block;
    background-color: var(--colorPC);
    border-radius: 20px;
    list-style:none;
    
}
.articulos>h3{
    color:black
}
.centradoN{
    display:inline-block;
    background-color: var(--colorPC);
    margin-top: 5em;
    position: relative;
    left: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.divDisplay{
    padding-top: 0.5em;
    background-color: var(--colorPC);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 20px; 
    margin-bottom: 3em;
    margin-top: 1em;
    line-height: 2.5em;
    width: 400px; 
    -webkit-transition: 1s linear;
     transition: 1s linear;
}

.contenedoresDis{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.divDisplay:hover{
    -webkit-transform:scale(1.2);
}

.contenedorCentrado{
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

.checkbox:checked{
    background-color: var(--colorPC);
    border:none;
}
