@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*Etiquetas*/
*{
  margin:0px;  
}
body{
    box-sizing: border-box;
    background-color:black ;
    overflow-x:hidden;
}

h1{ 
    text-align: center;
    font-family:'Evogria';
    font-size: 3em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em; 
    margin-left: 0.5em;
    color:white;
}
h2{
    font-family:'Evogria';
    font-size: 2.5em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em; 
    margin-left: 0.5em;
    color:white; 
}
h3{
    font-family:'Evogria';
    font-size: 1.5em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em; 
    margin-left: 0.5em;
    color:white;  
}
h4{
    font-family:'Evogria';
    font-size: 1.3em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em; 
    margin-left: 0.5em;
    color:white;  
}

cite{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin:1em;
    color:white;
}
em{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin:1em;
    color:white;
}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin:1em;
    color:white;
}
input{
    margin-left: 1.5em;
}

aside{
    background-color: rgb(216, 132, 35);
    color:black;
    float: left;
    margin: 1.5em;
    width: 22%;
    border-radius:5px;
    
}
aside> a:visited{
    color: green;
}
label{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin:1em;
    color:white;
}
td{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}
th{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
form{
    border: #a30303 5px solid;
    background-color: grey;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
nav {
    padding: 7px;
    text-align: right;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }

input#color{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
  }
table{
    border-collapse: collapse;
    width: 100%;
    caption-side: bottom;
    position: relative;
    font-family:'Evogria';
    text-align: center;
}
table>caption{
    color:white;    
}

tr:nth-child(odd){
    background-color:rgb(216, 132, 35) ;
}

tr:nth-child(even){
    background-color:gray ;
}
tr:first-child{
    background-color: #a30303;
    
}
@font-face { 
    font-family: 'Evogria'; 
    src: local('Evogria'), 
        url("assets/webfonts/evogria-webfont.woff2") format('woff2'), 
        url("assets/webfonts/evogria-webfont.woff") format('woff'), 
        url("assets/webfonts/Evogria.otf") format('truetype');
}
/* Clases */
.lista{
    color:white;
    list-style:none;
    padding-left: -3em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
.linkCompra{
    color:rgb(216, 132, 35)
}
.H2Aside{
    text-align: center;
    font-family:'Evogria';
    src: url('../webfonts/Evogria.otf');
    font-size: 2.5em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em; 
    margin-left: 0.5em;
    color:white; 
}

.navegador{
    height: 100%;
    background: #a30303;
    top: 0px;
    width: 100%;
}
.menu{
    height: 20px;
}
.footerS{
    align-items: left;
    height: 220px;
}

.link-3 {
    font-family: 'Oswald', sans-serif;
    align-items: center;
    transition: 0.4s;
    position:relative;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }
  .link-3:hover {
    background-color: rgb(216, 132, 35);
    color: white;
    padding-top: 0.42%;
    padding-bottom: 0.42%;
  }
.logo{
    position:absolute;
    left:0%;
    top:0.15%
}
.footerNav{
    height: 100%;
    background: grey;
    top: 0px;
    width: 100%;
}
.link-footer {
    font-family: 'Oswald', sans-serif;
    align-items:center;
    transition: 0.4s;
    position:relative;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    right: 49em
  }
.link-footer:active{
    color:rgb(216, 132, 35) ;
}
.imagen-footer{
    align-items: center;
    text-decoration: none;
    padding: 0 2px;
    margin: 0 4px;
    position:relative;
    top: 0.22em;
    right: 0.2em
}

.indexH2{
    text-align: center;
}
.divPadreIndex{
    text-align: center;
}
.cajaRoja{
  
    padding: 10px;
    margin: 10px;
    align-items: center;
  /* IMPORTANTE */
  display: inline-block;
  box-shadow: 10px 10px 124px 36px rgba(163,3,3,0.95);
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedorCentrado{
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}